LLM_PROVIDERS=gemini,groq,mistral

MISTRAL_API_KEY=cole_sua_chave_aqui
MISTRAL_MODEL=mistral-small-latest
MISTRAL_JSON_MODEL=mistral-small-latest

GEMINI_API_KEY=cole_sua_chave_aqui
GEMINI_MODEL=gemini-2.5-flash-lite

GROQ_API_KEY=cole_sua_chave_aqui
GROQ_MODEL=llama-3.3-70b-versatile
GROQ_JSON_MODEL=openai/gpt-oss-120b